@keyframes lettersWideToNormal {
	66% {
		letter-spacing: 1rem;
		opacity: 0;
	}
	100% {
		letter-spacing: 0.1rem;
	}
}
.tip {
	position: fixed;
	color: white;
	z-index: 1000;
	user-select: none;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	// border: 1px solid white;
}
.tip_text {
	width: 66%;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 0.1rem;
	text-align: center;
	line-height: 1.25rem;
}
// desktop
@media (min-width: 768px) {
	.tip {
		bottom: 2rem;
	}
	.tip_text {
	}
}
// mobile
@media (max-width: 768px) {
	.tip {
		bottom: 1.25rem;
	}
	.tip_text {
	}
}
